-
  const selects = [
    { name: "Дети", options: ["Все дети", "С инвалидностью", "ВИЧ-положительные", "Мигранты и беженцы"]},
  ]

aside.page-panel
  button.page-panel__btn
    +icon-mono("menu")(width="20" height="20" class="page-panel__btn-icon")
    span.page-panel__name Панель управления

section.collection
  h1.collection__heading Создание сбора

  form.collection__content
    input(type="hidden" class="data" value="")
    h2.page-title.collection__title Информация о сборе
    label.input-label.collection__label
      span.input-label__name Название сбора
      input(type="text" name="input" class="input")

    .target-groups
      h2.page-title.target-groups__title Целевые группы
      p.collection__txt Укажите, кому помогает ваша организация
      .result-group.collection__result-group.js-result-group

      .my-select.collection__select.js-select-parent
        button.my-select__btn.js-select(type="button")
          span.my-select__btn-icon
          span.my-select__btn-text Выбрать еще

        .my-select__options-wrapper
          //- ul.my-select__options.js-option-parent
          //-   for item in selects
          //-     li.my-select__option.js-option(data-value=item.name)
          //-       span.my-select__option-label= item.name
          //-       +icon-mono("shevron-right")(width="10" height="12" class="my-select__option-icon")

          //- for item in selects
          //-   ul.my-select__options.my-select__options-child.js-option-child(data-value-child=item.name)
          //-     li.my-select__option.my-select__option--back.js-option-back(data-value-back=item.name)
          //-       +icon-mono("shevron-right")(width="10" height="12" class="my-select__option-icon")
          //-       span.my-select__option-label= item.name
          //-     for option in item.options
          //-       li.my-select__option.js-option-choose
          //-         span.my-select__option-label= option

    button.button.disabled сохранить и продолжить
