header.header
  .header__container
    a.header__logo(href="/" aria-label="Логотип компании")
      img(src="assets/images/logo.svg" alt="Логотип компании")
    .user
      img.user__logo(src="assets/images/user.jpg" alt="Аватар пользователя")
      span.user__name Екатерина
